%form.pagination__page-input__form{ action: href, method: 'get' }
  %input.pagination__page-input__number{ type: 'number', name: 'page', value: value, min: 1, max: max, step: 1 }
  %input.pagination__page-input__submit{ type: 'submit', value: 'Go', title: 'Go to page' }
  %span.pagination__page-input__icon.copy--icon.icon--search.icon--heading-grey
