.pagination
  position: relative

  &.card
    @extend %rounded-corners
    padding: 8px 20px

.pagination__link,
.pagination__ellipsis
  color: $titlegray
  display: inline-block
  font-weight: bold

.pagination__link
  border-radius: 5px
  background-color: #fff
  border: 2px solid mix($darkgray, white, 15%)
  margin-left: 2px
  padding: 8px 12px

  &:first-child
    margin-left: 0

  &:hover
    border-color: mix($darkgray, white, 35%)
    text-decoration: none

.pagination__link--next,
.pagination__link--prev
  &:before
    +size(12px)
    display: inline-block
    position: relative
    top: 2px

.pagination__link--current
  color: $linkblue

  &, &:hover
    border-color: $linkblue

.pagination__ellipsis
  vertical-align: top
  padding: 7px 8px

.pagination__backwards,
.pagination__forwards
  min-height: 36px
  min-width: 40px

.pagination__numbers
  text-align: center

.pagination__detailed-info
  padding-top: 15px

.pagination__page-input__form
  position: relative
  margin: 0 -7px 0 -5px

.pagination__page-input__number
  @extend %transition--base
  padding: 0 4px
  margin: 0 1em -1px 0
  width: 30px
  text-align: center
  border-bottom: 1px solid mix($darkgray, white, 15%)
  font-weight: bold
  color: $titlegray
  appearance: textfield

  &:focus
    border-color: mix($darkgray, white, 35%)

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button
    appearance: none
    margin: 0

.pagination__page-input__submit,
.pagination__page-input__icon,
  +size(1em)
  position: absolute
  top: 0
  right: 0
  margin: 0

.pagination__page-input__submit
  +z-layer(middle)
  opacity: 0

.pagination__page-input__icon
  @extend %transition--base
  +z-layer(default)
  opacity: 0.5

  .pagination__page-input__submit:hover + &
    opacity: 0.8    
