// Story
// .tile.tile--story>.tile__wrapper>.tile__media+.tile__cover>.tile__cover__content>h1.tile__cover__title+.tile__cover__story
.tile--story

  .tile__cover
    height: 100%
    @include transition(background, .5, ease-out)
    @include hardware-acceleration()

  .tile__cover__content
    position: absolute
    top: 100%
    left: 0
    width: 100%
    height: 100%
    @include transition(top, .35, ease-out)

    &:after
      content: ' '
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 50%
      @include background-gradient(#000, transparent, false, false, to top)

  .tile__cover__title
    @include transform(translateY(-100%))
    @include transition(all, .35, ease-out)

  .tile__link:hover

    .tile__cover
      background: rgba(0, 0, 0, .65)

    .tile__cover__content
      top: 0

    .tile__cover__title
      @include transform(translateY(0))

// Menu
// .tile.tile--menu>.tile__wrapper>.tile__media+.tile__cover>.tile__cover__content>h1.tile__cover__title+ul.tile__cover__menu>li>a
.tile--menu

  .tile__cover
    top: auto
    bottom: 0
    height: auto

  .tile__cover__menu
    margin: 0
    padding: 0
    list-style: none

    a
      display: block
      padding: 2px 0
      text-transform: uppercase
      text-decoration: none
      color: inherit