// .tile>.tile__content>.tile__media+.tile__cover
.tile
  max-width: 340px
  min-width: 160px
  overflow: hidden

.tile__link
  text-decoration: none
  color: inherit

.tile__content
  position: relative
  padding-top: 100%

.tile__media
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.tile__media--img img,
.tile__media--video video
  max-width: 100%
  min-width: 100%
  height: auto

.tile__cover
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%