// Cards

$card-width: 192px
$card-gutter: 10px
$double-card-width: ($card-width * 2) + $card-gutter
$triple-card-width: ($card-width * 3) + ($card-gutter * 2)
$quadruple-card-width: ($card-width * 4) + ($card-gutter * 3)

// Fixed layout

$fixed-layout-width: 1000px

// Adaptive layout

$adaptive-layout-min-width: $card-width
$adaptive-layout-gutter: 10px
$adaptive-rail-gutter: 10px
$adaptive-rail-width: 300px
