// -----------------------------------------------------------------------------
// Related
// -----------------------------------------------------------------------------

.related
  box-sizing: border-box
  padding: 40px 20px
  text-shadow: 1px 1px 1px rgba(255, 255, 255, .15)
  &.related__collection
    background: $high-contrast-bg

.related__title
  +font-size(35)
  border-bottom: 1px solid $lightgray
  margin-bottom: 1em
  padding-bottom: .5em
  .related__collection &
    border-bottom: 1px solid $high-contrast-fg
    color: white

.related__articles
  margin-bottom: 20px
  padding-bottom: 10px
  +respond-to(narrow-view)
    margin-bottom: 0
    padding-bottom: 0

.related__article, .related__featured-article
  .media__description
    display: none

.related__article, .related__guide
  display: inline-block
  margin-bottom: 20px
  width: 100%

.related__collection
  .related__item:nth-child(1)
    border-bottom: 1px solid $high-contrast-fg

.related__articles
  .related__item:nth-child(-n+3)
    .related__article
      border-bottom: 1px solid $subduedgray

.related__guides
  .related__item:nth-child(-n+3)
    .related__guide
      border-bottom: 1px solid $subduedgray


.related__guide
  .user_attribution__source
    display: none
  .media__img
    position: relative
    background-color: $subduedgray
    text-align: center
    overflow: visible
    img
      display: initial

.related__featured-article
  .responsive &
    border-bottom: 1px solid $high-contrast-fg
    margin-bottom: 20px
    +respond-to(medium-view)
      border-bottom: none
      margin-bottom: 0


.related__list-item--guide
  display: inline-block
  position: relative
  vertical-align: top
  width: 75px
  &:not(:last-child)
    margin-right: 20px
  +respond-to(medium-view)
    width: 95px

