// -----------------------------------------------------------------------------
// [doc]
//
// Change the colour of an SVG icon.
//
// This is normally done on hover. You pass in a colour to the mixin.
//
// Colour options: body-grey, white, lp-blue, custom, custom-2.
//
// [/doc]
// -----------------------------------------------------------------------------
@mixin icon-color($color: "")
  $colors: "body-grey", "white", "lp-blue", "custom", "custom-2"
  $index: index($colors, inspect(unquote($color)))
  background-position: 0 percentage($index * .2)


// -----------------------------------------------------------------------------
// [doc]
//
// Add a svg as a background image
//
//
// [/doc]
// -----------------------------------------------------------------------------
@mixin svg-bg-icon($iconName, $section)
  $name: inspect(unquote($iconName))
  .icon--#{$name},
  .icon--#{$name}--after:after,
  .icon--#{$name}--before:before
    .supports-svg &
      background-image: image-url(icons/#{$section}/#{$name}#{"."}svg)
